@media screen and (min-width:0px) and (max-width: 380px){
    .menu__buttons .menu__btn{
        width: 70px;
    }

    .header__content{
        margin-top: 100px;
    }

    .conteiner{
        height: auto;
    }

    .header__content .menu__btn{
        margin-bottom: 100px;
    }

    .main__block{
        margin-top: 100px;
    }

    .footer__block{
        margin-top: 100px;
        
    }
    .footer__form{
        padding-bottom: 100px;
    }
    .footer .conteiner{
            height: 700px;
    }
} 

